body {
	background-color: rgb(28, 21, 92);
}

h1 {
	
	font-size: 80px;
	text-align: center;
	font-family: Arial, sans-serif;
	color: rgb(157, 155, 158);
	font-weight: bold;
}

.searchArea, .buttons, .seinfeldGif {
	padding-left: 75px;
}

p {
	font-size: 25px;
	font-family: Arial, sans-serif;
	color: rgb(157, 155, 158);
	font-weight: bold;
}
